extends layout

block content
  h1= title
  .row
   .col-sm-7
      p Interface version: 0.1.1-beta
      p Type below to search for a disease, you can click on entries to open their profile and view phenotype associations.
   .col-sm-5
    #stats
      p SMP version: #{versionString}
      p Diseases: #{stats.diseases} (#{stats.matched} matched to BDLP)
      p Associations: #{stats.associations} (#{stats.significant} significant, #{stats.novel} novel)
      p Unique Phenotypes: #{stats.unique}
  #searchbox
    form.form-inline.my-2.my-lg-0(onsubmit="return search()")
        input.form-control.mr-sm-2(type="search", placeholder="Search diseases", aria-label="Search", onkeyup="search()")
  #results
     

