extends layout

block content
  h1= title
  h5 Version 0.0.8-alpha
  h5 Type below to search for a disease, you can click on entries to open their profile and view phenotype associations
  #stats
    br
    p Diseases: #{stats.diseases}
    p Matched to BDLP: #{stats.matched}
    br
    p Associations: #{stats.associations}
    p Unique Phenotypes: #{stats.unique}
    p Significant Associations: #{stats.significant}
    p Novel Associations: #{stats.novel}
  #searchbox
    form.form-inline.my-2.my-lg-0(onsubmit="return search()")
        input.form-control.mr-sm-2(type="search", placeholder="Search diseases", aria-label="Search", onkeyup="search()")
  #results
     

