extends layout

block content
  h1= title
  h2
    a(href='/') Back to search
  .row
    .col-sm-12
      .card.mb-3
        .card-header
          h4 Clinical Review Page for #{disease.label}
          h5#hcount
          p Instructions: Please read the following guidance carefully. After this, please answer the three questions for each phenotype association using the drop-down boxes on the right, to the best of your knowledge, and without referring to external sources.
          p Conditions: You should be a specialist in this disease with an active practise seeing patients with the disease in the UK, and be familiar with the treatment guidelines for the disease. 
          p Definitions:
          ul
            li A phenotype is an observable trait in an organism - in this case, humans.
            li An association is a link between a disease and a phenotype.
            li You can click on the link in the ID column to see a definition of the relevant phenotype in a new page.
          p Saving progress:
          ul 
            li The form will save automatically, you don't have to press anything special to save your progress.
            li You can come back and finish your answers later, the content of the form will be saved if you refresh the page.
            li If you are answering the form on multiple devices, refresh the page before starting again on each device to ensure progress is not lost.  
          p Questions guidance:
          ul
            li The question concerning how often you recognise an association in your clinical practice refers to how often you recognise or consider the possibility of the phenotype when seeing a patient with the condition above. It should not be influenced by how often you encounter the disease or possible cases of the disease in the course of your practice. For example, only use `rarely' when you rarely see patients with that phenotype in that disease cohort, not when you rarely see patients with that condition.
            li If the association is only valid for a sub-type of the disease (e.g. only in a genetic etiology, but not in sporadic cases), please answer as you would for the relevant disease sub-type.
            li If multiple types of association are appropriate, pick the one you feel fits best. Other associated phenotype can also be suitable in more complicated cases, e.g. where the phenotype is associated with a disease mimic.
          p Other notes:
          ul
            li Refer to the participant information sheet for more information about the purpose of the study and associated information.
            li If you have any questions or feedback, please contact the study contact (the person who issued your review key).
            li Do not share your review key - if you want to get someone else to review a disease, please ask the study contact to provision them a new key.
            li Please use Firefox, Google Chrome, or Chromium to respond to the form.
          .row(style='display:none;')
            .col-sm-4(style='display:none;')
              .t(data-toggle="tooltip" title="This shows the biomedical and literature-derived digital phenotype on the right for comparison." data-placement="top")
                input#BLDPShow(type="checkbox" name="BLDPShow" value="1") 
                label.ml-4 Show Biomedical and Literature Digital Phenotype (BDLP) associations
                i.fas.fa-info-circle
            .col-sm-2
              .t(data-toggle="tooltip" title="Show only laconic phenotype associations. Laconic associations are those without any significant subclass association, i.e. they are the most specific significant associations." data-placement="top")
                input#laconicShow(type="checkbox" name="laconicShow" value="2" checked)
                label.ml-4 Show only laconic associations
                i.fas.fa-info-circle
            .col-sm-2(style='display:none;')
              .t(data-toggle="tooltip" title="Show only novel phenotype associations. These are associations that have no equivalent or subclass in the biomedical and literature-derived digital phenotype, i.e. they are unique to the social media digital phenotype." data-placement="top")
                input#novelShow(type="checkbox" name="novelShow" value="3" checked)
                label.ml-4 Show only novel associations
                i.fas.fa-info-circle
            .col-sm-2
              .t(data-toggle="tooltip" title="Show only significant assocations. These are associations with a significant q-score with a chosen acceptable false discovery rate of 0.005." data-placement="top")
                input#significantShow(type="checkbox" name="significantShow" value="3" checked)
                label.ml-4 Show only significant associations
                i.fas.fa-info-circle
        .card-body
          .row.mb-4#loading
            .col-sm-12
              h3 Loading... The phenotypes will appear shortly...
          .row.mb-4#content(style="display:none;")
            .col-sm-12.mb-3
              .card.h-100
                .card-body
                  .row.mb-2
                    .col-sm-1
                      b Count
                    .col-sm-1
                      b ID
                    .col-sm-3
                      b Label
                    .col-sm-7
                      b Review

                  - for(let id in disease.bldp) {
                  -  disease.smdp[id] = disease.bldp[id];
                  - };
                  - function seedRandom(seed) {
                  - var seedValue = 0;
                  -    for (var i = 0; i < seed.length; i++) {
                  -          seedValue += seed.charCodeAt(i);
                  -            }
                  -              Math.random = function() {
                  -                  var x = Math.sin(seedValue++) * 10000;
                  -                      return x - Math.floor(x);
                  -                        };
                  -                        }
                  - seedRandom(420)
                  - var sortedKeys = Object.keys(disease.smdp).sort(function (a, b) { return Math.random() - Math.random(); });
                  - var c = 0
                  each id in sortedKeys
                    - c++
                    - var item = disease.smdp[id]
                    - var idz = id.replace(':','_')
                    .pitem(class=classes)
                      .row.mb-2(id=item.id+'_questions')
                        .col-sm-1
                          p #{c}
                        .col-sm-1
                          p 
                            a(href='https://www.ebi.ac.uk/ols/ontologies/hp/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2F'+id.replace(':','_')+'&lang=en&viewMode=PreferredRoots&siblings=false' target="_blank") #{id}
                        .col-sm-3
                          p #{item.label}
                        .col-sm-7
                          .row.align-content-center
                            .col-sm-6
                              div Is this association established in literature, treatment guidelines, or policy discussing this disease?
                            .col-sm-6
                              select.form-control(id=idz+'_q1' value='')
                                option(value='') Select...
                                option Established and well recognised
                                option Established but not well recognised
                                option Not established but feasible
                                option Not established and unlikely
                                option Not established and definitely wrong
                              br
                          //.row
                            .col-sm-6
                              p What kind of association is this?
                            .col-sm-6
                              select.form-control(id=idz+'_q2' value='')
                                option(value='') Select...
                                option Symptom or sign
                                option Comorbidity
                                option Complication or can be sequel of
                                option Side-effect of treatment
                                option Other associated phenotype
                                option Unknown
                              br
                          //.row
                            .col-sm-6
                              div Is this association discussed in the treatment guidelines you use for this disease?
                            .col-sm-6
                              select.form-control(value='')
                                option(value='') Select...
                                option Yes
                                option No
                                option Unknown
                              br
                          //.row
                          //  .col-sm-6
                          //    div How often is this association discussed in literature?
                            .col-sm-6
                              select.form-control(value='')
                                option(value='') Select...
                                option 1 - Never discussed
                                option 2 - Appears in a few papers
                                option 3
                                option 4 - Frequently discussed
                                option 5 - Almost always considered
                              br
                          //.row
                            .col-sm-6
                              p How often do you recognise this association in the course your clinical practice for this disease?
                            .col-sm-6
                                select.form-control(id=idz+'_q3' value='')
                                  option(value='') Select...
                                  option 1 - Never
                                  option 2 - Rarely
                                  option 3 - Sometimes
                                  option 4 - Often
                                  option 5 - Very often
                                br
                      br
                      br
              script.
                var sortedKeys = !{JSON.stringify(sortedKeys)};
                var progress = !{JSON.stringify(progress)};

                function checkBoxes() { 
                  let source1 = document.querySelector('input[name="BLDPShow"]').checked;
                  let laconic = document.querySelector('input[name="laconicShow"]').checked;
                  let novel = document.querySelector('input[name="novelShow"]').checked;
                  let significant = document.querySelector('input[name="significantShow"]').checked;

                  var hiding = 0;

                  //if(source1) { document.getElementById('bldp').style.display = 'block'; } else { document.getElementById('bldp').style.display = 'none'; }

                  $('.pitem').each(function() {
                    const cs = this.className.split(' ')
                    const show = true
                    /*if(cs.indexOf('nonlaconic') != -1) { show = false; }
                    if(novel && cs.indexOf('nonnovel') != -1) { show = false; }
                    if(significant && cs.indexOf('nonsignificant') != -1) { show = false; }*/

                    if(show) { 
                      this.style.display = 'inline'
                    } else {
                      this.style.display = 'none'
                    }
                    hiding++
                  })
                 
                  document.getElementById('hcount').innerHTML = 'Listing ' + hiding + ' phenotypes'
                }

                document.querySelectorAll('input[type="checkbox"]').forEach(function(checkbox) {
                  checkbox.addEventListener('change', checkBoxes);
                });

                $(document).ready(function() {
                  $("#BLDPShow").prop('checked', true)
                  $("#laconicShow").prop('checked', true)
                  $("#novelShow").prop('checked', false)
                  $("#significantShow").prop('checked', true)

                  checkBoxes();
                  $("body").tooltip({ selector: '[data-toggle=tooltip]' });

                  $('select').val('');
                  $.each(progress, function(idx, val) {
                    idx = idx.replace(':','_')
                    if(val.q2 == 'Can be sequel of' || val.q2 == 'Complication') {
                      val.q2 = 'Complication or can be sequel of' 
                      console.log('woo')
                      }
                    if(val.q2 == 'Symptom') {
                      val.q2 = 'Symptom or sign'
                      console.log('woo')
                      }
                    $('#'+idx+'_q1').val(val.q1)
                    $('#'+idx+'_q2').val(val.q2)
                    $('#'+idx+'_q3').val(val.q3)
                  });

                  $('select').change(function() {
                    var results = {}
                    $.each(sortedKeys, function(i, id) {
                      const idz = id.replace(':','_')
                      const r = {
                        q1: $('#'+idz+'_q1').val(),
                        q2: $('#'+idz+'_q2').val(),
                        q3: $('#'+idz+'_q3').val()
                      }  
                      if(r.q1 || r.q2 || r.q3) {
                        results[id] = r;
                      }
                    });

                    $.ajax({
                        url: window.location.pathname + '/update', 
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(results)
                    });
                  });

                  $('#loading').hide();
                  $('#content').show();
                });


